body {
    margin: 5px;
}

#header {
    height: 200px;
    background-color: bisque;
    border: 4px double black;
    background-image: url(../images/bowling_logo.png);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: contain;
    /*position: fixed;*/
}

#header > * {
    background-color: #C7BAEF;
    float: right;
    padding: 10px;
    margin: 15px;
    margin-left: 0;
    border-radius: 10px;
}

#header > a:hover {
    background-color: #A595C5;
    color: white;
}

#header > p {
    background-color: transparent;
}

#header > p > span {
    text-decoration-line: underline;
}

#menu {
    float: left;
    height:750px;
    background-color: bisque;
    border: 4px double black;
    width: 20%;
}

#menu > a {
    display: block;
    margin: 5px 30px;
}

#content {
    float: left;
}