body {
    margin: 5px;
}

#header {
    height: 200px;
    background-color: bisque;
    border: 4px double black;
    background-image: url(../images/bowling_logo.png);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: contain;
    /*position: fixed;*/
}

#menu {
    float: left;
    width: 200px;
    height: 750px;
    background-color: bisque;
    border: 4px double black;
}

#menu > a {
    display: block;
    margin: 5px 30px;
}

#content {
    float: left;
}